*{
    font-family: "Winky Sans", sans-serif;
    background-color: bisque;
}

.list{
    line-height: 1.9;
}

.delete{
    margin-left: 8px;
    border-radius: 5px;
}

#add{
    margin-left: 8px;
    border-radius: 5px;
}